#top_banner {
	background-color: #C5E0DC;
	color: #774F38;
}

.navbar {
	border: 0px solid transparent;
	margin-bottom: 0px;
}

#title {
	margin-top: 30px;
}

#wrapper {
	height: 720px;
}

#content {
	background-color: #ECE5CE;
	height: 100%;
}

#tip-content {
	background-color: #FFFFFF;
	height: 200px;
	margin-top: 200px;
}

#tip-content a {
	text-decoration: none;
}

.round
{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.light-bulb {
  bottom:-43px;
  left:-30px;
  position:absolute;
}

.tip-text {
  font-family: verdana, arial, sans-serif;
  padding:50px 75px 35px 150px;
}

.tip-text .content {
	color: red;
	font-size: 22px;
}


.tip-text .comment {
	color: #747D67;
	margin-top: 10px;
	font-size: 22px;
	ling-height: 20px;
}

#tip_id {
	display: none;
}

#footer {
	background-color: #E08E79;
	height: 50px;
}

#copyright {
	margin-top: 15px;
}